# vs code
.vscode/

# Python
__pycache__/
*.pyc
venv/*

# Environment configuration
.env
.env.local*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
